<!-- Pipes -->

<div>{{user|json}}</div>
<div>{{name|uppercase}}</div>
<div>{{name|lowercase}}</div>
<div>{{name|titlecase}}</div>
<div>{{born|date}}</div>
<div>{{born|date:"fullDate"}}</div>
<div>{{born|date:"yyyy-MM-dd"}}</div>
<div>{{born|date:"yyyy-MM-dd HH:mm:ss"}}</div>
<div>{{now|date:'full':'':'uk'}}</div>
<div>{{arr|increment:5}}</div>
<div>{{arr2}}</div>

<!-- Directives -->

<!-- <app-users *ngFor="let user of users; let ind = index"></app-users>
<app-users *ngIf=""></app-users> -->
<div appBoldAndColor>{{name|uppercase}}</div>
<div appBoldAndColor="red">{{name|uppercase}}</div>
<div [appBoldAndColor]="color">{{name|uppercase}}</div>